
#MainMenu {visibility: hidden;}  
footer {visibility: hidden;}  
header {visibility: hidden;}  

.stApp {
    background-color: #98e2c6; 
}

.stSidebar{
    background-color: #98e2c6; 
}

.stSelectbox {
    background-color: #545c52;
    border-radius: 5px;
    padding: 10px;
}

.st-cu {
    border: 2px solid #98e2c6;
  }

.st-emotion-cache-jkfxgf {
    color:#98e2c6;
}

.page-title {
    color:#545c52;
    font-size:44px;
    text-align:left
}

.st-emotion-cache-1vt4y43 {
    color:#f8f2eb;
    font-size:24px;
    text-align:center;
    box-shadow: 5px 2px 10px 2px #f8f2eb;
    background-color: #545c52;
    border: 2px solid #98e2c6;
}

.st-emotion-cache-1vt4y43:hover {
    border: 2px solid #98e2c6;
    color:#f8f2eb;
    font-size:24px;
    text-align:center;
    box-shadow: 5px 2px 10px 2px #545c52;
    background-color: #98e2c6;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    column-gap:26px;
    row-gap:20px;
    padding:20px 0 0 0;

}

.flex-item {
    background-color: #545c52;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 250px; 
    box-shadow: 10px 2px 5px #f8f2eb;
    color:#98e2c6
}